* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
 }

html, body {
  height: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
}

body {
  background-color: #444c5d;
  color: #fff8f8;
  display: flex;
  flex-direction: column;
}

main {
  margin: 40px 60px;
}

h1 {
  background-color: #2d75b5;
  font-weight: bold;
  font-size: 50px;
  font-style: italic;
  text-shadow: 2px 2px 1px #4c4433;
}

nav {
  margin: 20px;
  transition: margin-right 2s;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
}

.blue-button {
  background-color: #3177a1;
  text-decoration: none;
  padding: 10px 15px;
  color: white;
  box-shadow: 2px 2px #818181;
  border-radius: 10px;
  margin-inline: 5px;
  /*Animation*/
  animation-name: colors;
  animation-duration: 4s;
  
}

@keyframes colors {
  0%   {background-color: #3177a1;}
  25%  {background-color: #d8cd3a;}
  50%  {background-color: #31a16d;}
  100% {background-color: green;}
}

.logo {
  width: 230px;
  transition: margin-right 2s;
}

h3 {
  margin-bottom: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 30px;
  text-decoration: underline;
}

article > h3 {
  all: inherit;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: justify;
  text-transform: uppercase;
}

.style-inputs { 
  all:unset;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.checkbox-section{
  all: unset;
  display: flex;
}

.checkbox-section > div {
  width: 25%;
}

.arrange-content {
  padding: 20px;
}

p {
  margin-bottom: 30px;
}

.italic-underline {
  font-style: italic;
  text-decoration: underline;
}
.a-email {
  color: black;
  background-color: white;
}

.rules-articles {
  padding-inline: 120px;
  margin-bottom: 20px;
}

.justify-text {
  text-align: justify;
}

.indent-text {
  text-indent: 30px;
}

.alpha-list {
  list-style-type: lower-alpha;
}

.center-table {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

th, td {
  padding: 20px
}

.flex-article {
  display: flex;
  padding-inline: 120px;
  margin-bottom: 20px;
}

.flex-article > h3 {
  all: unset;
  font-weight: bold;
}

.flex-article > p {
  text-indent: 20px;
  margin: 0;
}

.flex-div {
  display: flex;
  justify-content: space-between;
}

.map-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-bottom: 50px;
}


footer {
  background-color: #c69f42;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.footer-position {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: flex-end;
}

label, input:hover {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

/*StackOverflow:*/
input[type=radio] {
  appearance: none;
  background-color: #fff;
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  border-radius: 2px;
}

input[type=radio]::before {
  content: "";
  width: 10px;
  height: 10px;
  transform: scale(0);
  transform-origin: bottom left;
  background-color: #fff;
  clip-path: polygon(13% 50%, 34% 66%, 81% 2%, 100% 18%, 39% 100%, 0 71%);
}

input[type=radio]:checked::before {
  transform: scale(1);
}
input[type=radio]:checked{
  background-color:   #0075FF;
  border: 2px solid #0075FF;
}
